body {
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
  width: 60%;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.container {
  position: absolute;
  background-color: #f8f8fa;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 20px;
  width: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid rgb(105, 105, 105);
}

.col-6 {
  flex: 0 0 calc(100% / 2);
  max-width: calc(100% / 2);
}
.position-title {
  color: rgb(105, 105, 105);
}
.avatar {
  float: right;
  width: 180px;
  height: auto;
}

.contact {
  font-style: italic;
}

.school-name {
  text-decoration: underline;
}

.techno {
  font-weight: 600;
  color: rgb(71, 71, 71);
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(20, 153, 53);
}

a:hover {
  color: rgb(243, 21, 125);
}
.footer-link {
  font-size: 0.9rem;
}
.footer-font {
  font-size: 0.9rem;
}
